<!DOCTYPE html>
<html>
<body>
    <h1>Groups</h1>
    <div style="position:absolute; right: 10px; top: 10px; display: flex; flex-direction: row;">
        <a href="{% url 'register_user' %}">Register</a> |
        <a href="{% url 'login_user' %}">Login</a> | 
        <a href="{% url 'logout_user' %}">Logout</a>
    </div>
    <h4><a href="{% url 'new_group' %}">Add Group</a></h4>
    {% for group in groups %}
        <h3><a href="{% url 'group' pk=group.pk %}">{{group.name}}</a></h3>
    {% endfor %}
</body>
</html>